.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.btn {
  margin: 1rem 0rem 2rem 0rem;
  padding: 0.7rem 1rem;
  border-radius: 3px;
  border: none;
  color: #fff;
}

input {
  margin: 0.5rem 0rem 2rem 0rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: 1px solid grey;
}

.google-color {
  background: #d34836;
}

.brand-color {
  background: #005fb3;
}

.option-separator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-separator::after {
  content: '';
  display: block;
  height: 0.09em;
  min-width: 30vw;
  background: linear-gradient(
    to right,
    rgba(240, 240, 240, 0),
    rgb(99, 99, 99)
  );
  margin-right: 4vh;
}

.option-separator::before {
  content: '';
  display: block;
  height: 0.09em;
  min-width: 30vw;
  background: linear-gradient(to left, rgba(240, 240, 240, 0), rgb(99, 99, 99));
  margin-left: 4vh;
}

.form {
  margin: 1rem;
  height: 72vh;
  min-width: 20rem;
}
